In [1]:
from server.dbqueries import query_db
import etl.wikidata as wd
import requests
from textwrap import dedent, indent
import re
import pandas as pd
from IPython.display import display, HTML

**Retrieve all BC qids**

In [2]:
qids = wd.qids_by_daterange(None, 0)
qids.shape

(9042, 0)

In [3]:
qids.head()

Empty DataFrame
Columns: []
Index: [131171, 151805, 151819, 151817, 151822]

**Insert QIDs into Database**

In [4]:
wd.insert_qids(qids)

**List of fields I know how to query for from wikidata**

In [5]:
wd.query_item(None, None, list_options=True)

['wikipedia', 'birth', 'name', 'desc', 'birthplace', 'deathplace', 'death']

**Example of querying for one of them**

In [6]:
print(wd.query_item(qids.index[:5],'deathplace',query_only=True))

select ?qid ?death_place ?death_coords ?death_place_name {

  VALUES ?qid {
      wd:Q131171
  wd:Q151805
  wd:Q151819
  wd:Q151817
  wd:Q151822
  }


                ?qid wdt:P20  ?death_place.
                ?death_place wdt:P625 ?death_coords.
                ?death_place rdfs:label ?death_place_name
                FILTER (LANG(?death_place_name) = "en").

}

**Extracting wikipedia**

In [80]:
import importlib
importlib.reload(wd)

In [70]:
data = [wd.query_item(qids.index,item) for item in ['birth','name','desc','birthplace','deathplace','death']]

In [71]:
people = pd.concat([qids] + data, axis=1, sort=False)

In [86]:
people.head(1)

,birth_time,birth_time_precision,name,desc,birth_coords,birth_place,birth_place_name,death_coords,death_place,death_place_name,death_time,death_time_precision
id,,,,,,,,,,,,
635,-0068-01-01T00:00:00Z,9,Cleopatra,last active pharaoh of Ptolemaic Egypt,POINT (29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,POINT (29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,-0029-08-10T00:00:00Z,11.0

In [82]:
import geopandas as gpd

In [83]:
aa = gpd.GeoDataFrame(people)

In [84]:
from geoalchemy2 import Geometry, WKTElement

In [94]:
#aa['birth_coords'][aa['birth_coords'].isna()] = None
aa['x'] = aa['birth_coords'].apply(lambda x: WKTElement(x.wkt, srid=4326) if x else x)

In [101]:
aa = aa.drop(columns=['birth_coords','death_coords'])

In [105]:
aa = gpd.GeoDataFrame(aa)

In [120]:
aa['geometry'] = aa['x']

In [125]:
aa = aa.drop(columns=['x'])

In [128]:
with wd.sqlalchemy_connection() as conn:
    aa.to_sql('test_people_data',conn, if_exists="replace", dtype={'geometry': Geometry('POINT', srid= 4326)})

TypeError: __exit__() takes 1 positional argument but 4 were given

In [33]:
from shapely.geometry import Point

In [11]:
a = Point(0,0)

In [21]:
a.x

0.0

In [29]:
people = pd.concat([qids] + data, axis=1, sort=False)

In [35]:
import shapely.wkt

In [41]:
shapely.wkt.loads(people.birth_coords.iloc[0])

In [47]:
import math

In [55]:
import numpy as np

In [56]:
np.nan

nan

In [60]:
idx = ~people.birth_coords.isna()
data = people.birth_coords[idx].apply(lambda s: shapely.wkt.loads(s))

In [68]:
people.drop("name", axis=1)

,birth_time,birth_time_precision,desc,birth_coords,birth_place,birth_place_name,death_coords,death_place,death_place_name,death_time,death_time_precision,birth_coords_pt
id,,,,,,,,,,,,
635,-0068-01-01T00:00:00Z,9,last active pharaoh of Ptolemaic Egypt,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,-0029-08-10T00:00:00Z,11.0,POINT (29.916666666 31.2)
859,-0426-05-02T00:00:00Z,11,Classical Greek philosopher,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,-0346-01-01T00:00:00Z,9.0,POINT (23.71666667 37.96666667)
868,-0283-01-01T00:00:00Z,9,"Classical Greek philosopher, student of Plato ...",Point(23.79416667 40.59083333),http://www.wikidata.org/entity/Q846127,Stagira,Point(23.602777777 38.463611111),http://www.wikidata.org/entity/Q200133,Chalkida,-0320-01-01T00:00:00Z,9.0,POINT (23.79416667 40.59083333)
913,-0468-01-01T00:00:00Z,9,classical Greek Athenian philosopher,Point(23.75 37.95),http://www.wikidata.org/entity/Q2839314,Alopeke,Point(23.716111111 37.979444444),http://www.wikidata.org/entity/Q1524,Athens,-0398-02-10T00:00:00Z,11.0,POINT (23.75 37.95)
1048,-0099-07-01T00:00:00Z,10,Roman politician and general,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(12.47361111 41.89527778),http://www.wikidata.org/entity/Q944814,Theatre of Pompey,-0043-03-13T00:00:00Z,11.0,POINT (12.482777777 41.893055555)
1398,-0069-10-13T00:00:00Z,11,Ancient Roman poet,Point(10.75 45.05),http://www.wikidata.org/entity/Q15710617,Borgo Virgilio,Point(17.945833333 40.638333333),http://www.wikidata.org/entity/Q13496,Brindisi,-0018-09-19T00:00:00Z,11.0,POINT (10.75 45.05)
1405,-0062-01-01T00:00:00Z,9,founder of Julio-Claudian dynasty and first em...,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.533333333 40.933333333),http://www.wikidata.org/entity/Q72288,Nola,0014-08-17T00:00:00Z,11.0,POINT (12.482777777 41.893055555)
1407,-0041-11-14T00:00:00Z,11,"2nd Emperor of Ancient Rome, member of the Jul...",Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.086389 40.786389),http://www.wikidata.org/entity/Q401231,Miseno,0037-03-14T00:00:00Z,11.0,POINT (12.482777777 41.893055555)
1411,-0009-07-30T00:00:00Z,11,"4th Emperor of Ancient Rome, member of the Jul...",Point(4.819444444 45.759722222),http://www.wikidata.org/entity/Q665,Lugdunum,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0054-10-11T00:00:00Z,11.0,POINT (4.819444444 45.759722222)
1414,-0002-12-22T00:00:00Z,11,Sixth Roman Emperor,Point(13.25 41.283333333),http://www.wikidata.org/entity/Q128226,Terracina,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0069-01-01T00:00:00Z,10.0,POINT (13.25 41.283333333)
1523,-1302-01-01T00:00:00Z,9,Egyptian pharaoh of the Nineteenth Dynasty of ...,NaN,NaN,NaN,Point(31.834217 30.79937),http://www.wikidata.org/entity/Q937930,Pi-Ramesses,-1212-01-01T00:00:00Z,9.0,NaN
1526,-1300-01-01T00:00:00Z,7,the founding Pharaoh of Ancient Egypt's Ninete...,Point(31.82253 30.786228),http://www.wikidata.org/entity/Q309282,Avaris,NaN,NaN,NaN,-1289-01-01T00:00:00Z,9.0,POINT (31.82253 30.786228)
1528,-1216-01-01T00:00:00Z,9,egyptian pharaoh,Point(32.610277777 25.720555555),http://www.wikidata.org/entity/Q101583,Thebes,NaN,NaN,NaN,-1154-01-01T00:00:00Z,9.0,POINT (32.610277777 25.720555555)
1532,-1200-01-01T00:00:00Z,7,the third pharaoh of the Twentieth Dynasty of ...,NaN,NaN,NaN,NaN,NaN,NaN,-1148-01-01T00:00:00Z,9.0,NaN
1541,-0106-12-31T00:00:00Z,11,Roman philosopher and statesman,Point(13.61155 41.64705),http://www.wikidata.org/entity/Q116440,Arpino,Point(13.606944444 41.256388888),http://www.wikidata.org/entity/Q128086,Formia,-0042-12-01T00:00:00Z,11.0,POINT (13.61155 41.64705)
2039,-0058-01-01T00:00:00Z,9,Roman historian,Point(11.877777777 45.406388888),http://www.wikidata.org/entity/Q617,Padua,Point(11.877777777 45.406388888),http://www.wikidata.org/entity/Q617,Padua,0017-01-01T00:00:00Z,9.0,POINT (11.877777777 45.406388888)
2054,-0003-01-01T00:00:00Z,9,"Roman Stoic philosopher, statesman, and dramatist",Point(-4.766666666 37.883333333),http://www.wikidata.org/entity/Q5818,Córdoba,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0065-04-10T00:00:00Z,11.0,POINT (-4.766666666 37.883333333)
2253,-0234-01-01T00:00:00Z,9,Roman general in the Second Punic War,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.030128 40.921094),http://www.wikidata.org/entity/Q898417,Liternum,-0182-01-01T00:00:00Z,9.0,POINT (12.482777777 41.893055555)
2259,-0038-01-01T00:00:00Z,9,only biological child of Augustus,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(15.65 38.114438888),http://www.wikidata.org/entity/Q8471,Reggio Calabria,0014-01-01T00:00:00Z,9.0,POINT (12.482777777 41.893055555)
2307,-0184-01-01T00:00:00Z,9,general and politician of the ancient Roman Re...,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,-0128-01-01T00:00:00Z,9.0,POINT (12.482777777 41.893055555)
3340,-0141-02-18T00:00:00Z,11,king of Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0079-01-01T00:00:00Z,9.0,NaN
3345,-0139-01-01T00:00:00Z,9,King of Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0087-01-01T00:00:00Z,9.0,NaN
3350,-0181-01-01T00:00:00Z,9,king of the Ptolemaic dynasty in Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0115-01-01T00:00:00Z,9.0,NaN
3356,-0214-01-01T00:00:00Z,9,ruler of the Seleucid Empire,NaN,NaN,NaN,Point(52.533333333 29.616666666),http://www.wikidata.org/entity/Q1004666,Fars Province,-0160-01-01T00:00:00Z,9.0,NaN
3362,-0216-01-01T00:00:00Z,9,"Ruler in Greece, 2nd century BC",NaN,NaN,NaN,NaN,NaN,NaN,-0174-01-01T00:00:00Z,9.0,NaN
3365,-0240-01-01T00:00:00Z,9,Seleucid ruler,Point(48.25 32.2),http://www.wikidata.org/entity/Q180773,Susa,Point(48.25 32.2),http://www.wikidata.org/entity/Q180773,Susa,-0186-01-01T00:00:00Z,9.0,POINT (48.25 32.2)
3371,-0242-01-01T00:00:00Z,9,ruler of the Seleucid Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,-0222-01-01T00:00:00Z,9.0,NaN
3373,-0264-01-01T00:00:00Z,9,ruler of the Seleucid Empire,NaN,NaN,NaN,NaN,NaN,NaN,-0224-01-01T00:00:00Z,9.0,NaN
4009,-1150-01-01T00:00:00Z,7,Egyptian pharaoh of the 20th dynasty,NaN,NaN,NaN,NaN,NaN,NaN,-1110-01-01T00:00:00Z,10.0,NaN
4026,-1150-01-01T00:00:00Z,7,ninth ruler of the 20th dynasty of Ancient Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-1097-01-01T00:00:00Z,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
64244989,-1450-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64245002,-1650-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64245027,-1550-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64615035,-0250-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64759804,-0050-01-01T00:00:00Z,7,NaN,Point(11.878055555 43.463055555),http://www.wikidata.org/entity/Q13378,Arezzo,Point(11.878055555 43.463055555),http://www.wikidata.org/entity/Q13378,Arezzo,NaN,NaN,POINT (11.878055555 43.463055555)
64853920,-0100-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65151550,-0150-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65553655,-0650-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940714,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940716,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940721,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65955924,-0350-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65956728,-0350-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65956732,-0400-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66712148,-0450-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66741830,-0550-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67155300,-0500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67816203,-0500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68817614,-0050-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69889774,-2550-01-01T00:00:00Z,7,ancient Egyptian official of the Fourth dynasty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72744167,-0750-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74405189,-0100-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0100-01-01T00:00:00Z,7.0,NaN
75159025,-0600-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0500-01-01T00:00:00Z,7.0,NaN
75273763,-0200-01-01T00:00:00Z,7,quaestor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75639509,-0050-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76247521,-0452-01-01T00:00:00Z,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0364-01-01T00:00:00Z,9.0,NaN
76847808,-0475-01-01T00:00:00Z,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79054412,-0091-01-01T00:00:00Z,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80927281,-0200-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81655865,-0001-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0001-01-01T00:00:00Z,7.0,NaN

In [62]:
data.apply(lambda pt: (pt.x, pt.y))

id
635                 (29.916666666, 31.2)
859           (23.71666667, 37.96666667)
868           (23.79416667, 40.59083333)
913                       (23.75, 37.95)
1048        (12.482777777, 41.893055555)
1398                      (10.75, 45.05)
1405        (12.482777777, 41.893055555)
1407        (12.482777777, 41.893055555)
1411         (4.819444444, 45.759722222)
1414               (13.25, 41.283333333)
1526               (31.82253, 30.786228)
1528        (32.610277777, 25.720555555)
1541                (13.61155, 41.64705)
2039        (11.877777777, 45.406388888)
2054        (-4.766666666, 37.883333333)
2253        (12.482777777, 41.893055555)
2259        (12.482777777, 41.893055555)
2307        (12.482777777, 41.893055555)
3365                       (48.25, 32.2)
4318                (26.016666666, 38.4)
4604               (116.983333333, 35.6)
5264        (27.110277777, 36.815277777)
6197        (15.816666666, 40.966666666)
6691              (27.142778, 38.423889)
7170              (13.305769, 42.400776)
7192               (114.48937, 36.61161)
7196                (108.7096, 34.33926)
7198              (13.926198, 42.048025)
7210                (106.5187, 33.91234)
7214               (116.93261, 34.72794)
                        ...
28941926                (21.8333, 37.25)
29388595           (28.15, 36.416666666)
29451084                (26.8333, 37.75)
29510353                    (19.0, 50.0)
29526216           (25.25, 39.916666666)
29583550          (34.839167, 38.670556)
29788536          (27.835472, 37.859993)
30327998    (29.066666666, 40.183333333)
30348862      (23.71666667, 37.96666667)
31271346           (14.25, 40.833333333)
31789658                (21.8333, 37.25)
38131260          (22.711145, 37.984104)
38200912         (15.2875, 37.069166666)
40970119                (21.8333, 37.25)
41402711    (11.756111111, 42.249166666)
41552620                    (17.5, 42.5)
42317289                (21.8333, 37.25)
42434226          (11.838912, 42.227871)
42740900    (22.423611111, 37.081944444)
42880008            (22.5, 38.483333333)
43303940          (20.643889, 38.717778)
45805945    (21.374444444, 37.892222222)
48935281           (112.54245, 37.87326)
48935282           (112.54245, 37.87326)
57331818      (12.93777778, 41.95472222)
58642767          (36.798611, 35.798056)
61853861    (23.323611111, 38.324166666)
61992031    (23.716111111, 37.979444444)
62078666          (27.183333, 39.116667)
64759804    (11.878055555, 43.463055555)
Name: birth_coords, Length: 2339, dtype: object

In [48]:

people['birth_coords_pt'] = people['birth_coords'].apply(lambda s: shapely.wkt.loads(s) if not math.isnan(s) else s)

TypeError: must be real number, not str

In [44]:
people.birth_coords

id
635                 Point(29.916666666 31.2)
859           Point(23.71666667 37.96666667)
868           Point(23.79416667 40.59083333)
913                       Point(23.75 37.95)
1048        Point(12.482777777 41.893055555)
1398                      Point(10.75 45.05)
1405        Point(12.482777777 41.893055555)
1407        Point(12.482777777 41.893055555)
1411         Point(4.819444444 45.759722222)
1414               Point(13.25 41.283333333)
1523                                     NaN
1526               Point(31.82253 30.786228)
1528        Point(32.610277777 25.720555555)
1532                                     NaN
1541                Point(13.61155 41.64705)
2039        Point(11.877777777 45.406388888)
2054        Point(-4.766666666 37.883333333)
2253        Point(12.482777777 41.893055555)
2259        Point(12.482777777 41.893055555)
2307        Point(12.482777777 41.893055555)
3340                                     NaN
3345                                     NaN
3350                                     NaN
3356                                     NaN
3362                                     NaN
3365                       Point(48.25 32.2)
3371                                     NaN
3373                                     NaN
4009                                     NaN
4026                                     NaN
                          ...
64244989                                 NaN
64245002                                 NaN
64245027                                 NaN
64615035                                 NaN
64759804    Point(11.878055555 43.463055555)
64853920                                 NaN
65151550                                 NaN
65553655                                 NaN
65940714                                 NaN
65940716                                 NaN
65940721                                 NaN
65955924                                 NaN
65956728                                 NaN
65956732                                 NaN
66712148                                 NaN
66741830                                 NaN
67155300                                 NaN
67816203                                 NaN
68817614                                 NaN
69889774                                 NaN
72744167                                 NaN
74405189                                 NaN
75159025                                 NaN
75273763                                 NaN
75639509                                 NaN
76247521                                 NaN
76847808                                 NaN
79054412                                 NaN
80927281                                 NaN
81655865                                 NaN
Name: birth_coords, Length: 9042, dtype: object

In [32]:
people['birth_coords'].apply(lambda pt: (pt.x,pt.y))

AttributeError: 'str' object has no attribute 'x'

In [31]:
def build_year(dte):
    base_year = int(re.match("-?[0-9]+",x).group(0)
    return base_year if base_year >= 0 
people['birth_year'] = people.birth_time.apply(lambda x: int(re.match("-?[0-9]+",x).group(0)))

In [49]:
people[people.birth_time_precision=="6"].head()

,birth_time,birth_time_precision,name,desc,birth_coords,birth_place,birth_place_name,death_coords,death_place,death_place_name,death_time,death_time_precision,birth_year
id,,,,,,,,,,,,,
35811,-2000-01-01T00:00:00Z,6,Zoroaster,Founder of Zoroastrianism,Point(51.448888888 35.593055555),http://www.wikidata.org/entity/Q636188,Ray,NaN,NaN,NaN,-2000-01-01T00:00:00Z,6,-2000
39932,-0800-01-01T00:00:00Z,6,Xiao'ao,monarch of the state of Chu,NaN,NaN,NaN,NaN,NaN,NaN,-0757-01-01T00:00:00Z,9,-800
43315,-0700-01-01T00:00:00Z,6,Cleanthes of Corinth,"Greek painter from Corinth, active in the earl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-700
45053,-0001-01-01T00:00:00Z,6,Joel,prophet,Point(35.306389 31.698889),http://www.wikidata.org/entity/Q104028,Judea,Point(35.444722222 33.025833333),http://www.wikidata.org/entity/Q1527236,Jish,-0301-01-01T00:00:00Z,7,-1
59087,-2500-01-01T00:00:00Z,6,Hemiunu,Ancient Egyptian prince and vizier,NaN,NaN,NaN,NaN,NaN,NaN,-2501-01-01T00:00:00Z,7,-2500

In [24]:
import webbrowser
def goto_qid(id):
    url = 'http://wikidata.org/entity/Q{}'.format(id)
    webbrowser.open(url)

In [50]:
goto_qid(45053)

,birth_time,birth_time_precision,name,desc,birth_coords,birth_place,birth_place_name,death_coords,death_place,death_place_name,death_time,death_time_precision
id,,,,,,,,,,,,
635,-0068-01-01T00:00:00Z,9,Cleopatra,last active pharaoh of Ptolemaic Egypt,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,-0029-08-10T00:00:00Z,11
859,-0426-05-02T00:00:00Z,11,Plato,Classical Greek philosopher,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,-0346-01-01T00:00:00Z,9
868,-0283-01-01T00:00:00Z,9,Aristotle,"Classical Greek philosopher, student of Plato ...",Point(23.79416667 40.59083333),http://www.wikidata.org/entity/Q846127,Stagira,Point(23.602777777 38.463611111),http://www.wikidata.org/entity/Q200133,Chalkida,-0321-03-02T00:00:00Z,11
913,-0468-01-01T00:00:00Z,9,Socrates,classical Greek Athenian philosopher,Point(23.75 37.95),http://www.wikidata.org/entity/Q2839314,Alopeke,Point(23.716111111 37.979444444),http://www.wikidata.org/entity/Q1524,Athens,-0398-02-10T00:00:00Z,11
1048,-0099-07-01T00:00:00Z,10,Julius Caesar,Roman politician and general,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(12.47361111 41.89527778),http://www.wikidata.org/entity/Q944814,Theatre of Pompey,-0043-03-13T00:00:00Z,11
1398,-0069-10-13T00:00:00Z,11,Virgil,Ancient Roman poet,Point(10.75 45.05),http://www.wikidata.org/entity/Q15710617,Borgo Virgilio,Point(17.945833333 40.638333333),http://www.wikidata.org/entity/Q13496,Brindisi,-0018-09-19T00:00:00Z,11
1405,-0062-01-01T00:00:00Z,9,Augustus,founder of Julio-Claudian dynasty and first em...,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.533333333 40.933333333),http://www.wikidata.org/entity/Q72288,Nola,0014-08-17T00:00:00Z,11
1407,-0041-11-14T00:00:00Z,11,Tiberius,"2nd Emperor of Ancient Rome, member of the Jul...",Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.086389 40.786389),http://www.wikidata.org/entity/Q401231,Miseno,0037-03-14T00:00:00Z,11
1411,-0009-07-30T00:00:00Z,11,Claudius,"4th Emperor of Ancient Rome, member of the Jul...",Point(4.819444444 45.759722222),http://www.wikidata.org/entity/Q665,Lugdunum,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0054-10-11T00:00:00Z,11
1414,-0002-12-22T00:00:00Z,11,Servius Sulpicius Galba Caesar,Sixth Roman Emperor,Point(13.25 41.283333333),http://www.wikidata.org/entity/Q128226,Terracina,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0069-01-01T00:00:00Z,10

In [18]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://geo:geo123@localhost:5432/geobrowser')
people.to_sql("person_details",con=engine)

ValueError: Table 'person_details' already exists.

# Archive

In [31]:
data = wd.query_item(qids.index,"deathplace")
data.head()

,death_coords,death_place,death_place_name
id,,,
635,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria
8747,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria
39576,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria
39589,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria
39991,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria

In [32]:
data.shape

(1345, 3)

In [40]:
data.loc[8423]

,death_coords,death_place,death_place_name
id,,,
8423,Point(60.8736 46.1542),http://www.wikidata.org/entity/Q483159,Syr Dar
8423,Point(71.7575 40.9),http://www.wikidata.org/entity/Q483159,Syr Dar
8423,Point(71.7575 40.900833),http://www.wikidata.org/entity/Q483159,Syr Dar

In [44]:
# counts = data.groupby(level=0).count()
# counts[counts.death_coords > 1]

In [ ]:
# data.sort_values(['id','death_coords']).groupby(level=0).first()

In [38]:
cleaned = data[2].groupby(level=0).first()
cleaned.shape

(5655, 1)

In [40]:
people = pd.concat([qids] + data, axis=1, sort=False)

In [50]:
people

,birth_time,birth_time_precision,name,desc,birth_coords,birth_place,birth_place_name,death_coords,death_place,death_place_name,death_time,death_time_precision
id,,,,,,,,,,,,
635,-0068-01-01T00:00:00Z,9,Cleopatra,last active pharaoh of Ptolemaic Egypt,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,Point(29.916666666 31.2),http://www.wikidata.org/entity/Q87,Alexandria,-0029-08-10T00:00:00Z,11
859,-0426-05-02T00:00:00Z,11,Plato,Classical Greek philosopher,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,Point(23.71666667 37.96666667),http://www.wikidata.org/entity/Q844930,Classical Athens,-0346-01-01T00:00:00Z,9
868,-0283-01-01T00:00:00Z,9,Aristotle,"Classical Greek philosopher, student of Plato ...",Point(23.79416667 40.59083333),http://www.wikidata.org/entity/Q846127,Stagira,Point(23.602777777 38.463611111),http://www.wikidata.org/entity/Q200133,Chalkida,-0321-03-02T00:00:00Z,11
913,-0468-01-01T00:00:00Z,9,Socrates,classical Greek Athenian philosopher,Point(23.75 37.95),http://www.wikidata.org/entity/Q2839314,Alopeke,Point(23.716111111 37.979444444),http://www.wikidata.org/entity/Q1524,Athens,0399-05-01T00:00:00Z,10
1048,-0099-07-01T00:00:00Z,10,Julius Caesar,Roman politician and general,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(12.47361111 41.89527778),http://www.wikidata.org/entity/Q944814,Theatre of Pompey,-0043-03-13T00:00:00Z,11
1398,-0069-10-13T00:00:00Z,11,Virgil,Ancient Roman poet,Point(10.75 45.05),http://www.wikidata.org/entity/Q15710617,Borgo Virgilio,Point(17.945833333 40.638333333),http://www.wikidata.org/entity/Q13496,Brindisi,-0018-09-19T00:00:00Z,11
1405,-0062-01-01T00:00:00Z,9,Augustus,founder of Julio-Claudian dynasty and first em...,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.533333333 40.933333333),http://www.wikidata.org/entity/Q72288,Nola,0014-08-17T00:00:00Z,11
1407,-0041-11-14T00:00:00Z,11,Tiberius,"2nd Emperor of Ancient Rome, member of the Jul...",Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.086389 40.786389),http://www.wikidata.org/entity/Q401231,Miseno,0037-03-14T00:00:00Z,11
1411,-0009-07-30T00:00:00Z,11,Claudius,"4th Emperor of Ancient Rome, member of the Jul...",Point(4.819444444 45.759722222),http://www.wikidata.org/entity/Q665,Lugdunum,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0054-10-11T00:00:00Z,11
1414,-0002-12-22T00:00:00Z,11,Servius Sulpicius Galba Caesar,Sixth Roman Emperor,Point(13.25 41.283333333),http://www.wikidata.org/entity/Q128226,Terracina,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0069-01-01T00:00:00Z,10
1523,-1302-01-01T00:00:00Z,9,Ramesses II,Egyptian pharaoh of the Nineteenth Dynasty of ...,NaN,NaN,NaN,Point(31.834217 30.79937),http://www.wikidata.org/entity/Q937930,Pi-Ramesses,-1212-01-01T00:00:00Z,9
1526,-1300-01-01T00:00:00Z,7,Ramesses I,the founding Pharaoh of Ancient Egypt's Ninete...,Point(31.82253 30.786228),http://www.wikidata.org/entity/Q309282,Avaris,NaN,NaN,NaN,-1289-01-01T00:00:00Z,9
1528,-1216-01-01T00:00:00Z,9,Ramesses III,egyptian pharaoh,Point(32.610277777 25.720555555),http://www.wikidata.org/entity/Q101583,Thebes,NaN,NaN,NaN,-1154-01-01T00:00:00Z,9
1532,-1200-01-01T00:00:00Z,7,Ramesses IV,the third pharaoh of the Twentieth Dynasty of ...,NaN,NaN,NaN,NaN,NaN,NaN,-1148-01-01T00:00:00Z,9
1541,-0106-12-31T00:00:00Z,11,Cicero,Roman philosopher and statesman,Point(13.61155 41.64705),http://www.wikidata.org/entity/Q116440,Arpino,Point(13.606944444 41.256388888),http://www.wikidata.org/entity/Q128086,Formia,-0042-12-01T00:00:00Z,11
2039,-0058-01-01T00:00:00Z,9,Titus Livius,Roman historian,Point(11.877777777 45.406388888),http://www.wikidata.org/entity/Q617,Padua,Point(11.877777777 45.406388888),http://www.wikidata.org/entity/Q617,Padua,0017-01-01T00:00:00Z,9
2054,-0003-01-01T00:00:00Z,9,Seneca,"Roman Stoic philosopher, statesman, and dramatist",Point(-4.766666666 37.883333333),http://www.wikidata.org/entity/Q5818,Córdoba,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,0065-04-10T00:00:00Z,11
2253,-0234-06-20T00:00:00Z,11,Scipio Africanus,Roman general in the Second Punic War,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(14.030128 40.921094),http://www.wikidata.org/entity/Q898417,Liternum,-0182-01-01T00:00:00Z,9
2259,-0038-10-28T00:00:00Z,11,Julia the Elder,only biological child of Augustus,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(15.65 38.114438888),http://www.wikidata.org/entity/Q8471,Reggio Calabria,0014-01-01T00:00:00Z,9
2307,-0184-01-01T00:00:00Z,9,Scipio Aemilianus,general and politician of the ancient Roman Re...,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,-0128-01-01T00:00:00Z,9
3340,-0141-02-18T00:00:00Z,11,Ptolemy IX Lathyros,king of Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0079-01-01T00:00:00Z,9
3345,-0139-01-01T00:00:00Z,9,Ptolemy X Alexander I,King of Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0087-01-01T00:00:00Z,9
3350,-0181-01-01T00:00:00Z,9,Ptolemy VIII Physcon,king of the Ptolemaic dynasty in Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-0115-01-01T00:00:00Z,9
3356,-0214-01-01T00:00:00Z,9,Antiochus IV Epiphanes,ruler of the Seleucid Empire,NaN,NaN,NaN,Point(52.533333333 29.616666666),http://www.wikidata.org/entity/Q1004666,Fars Province,-0160-01-01T00:00:00Z,9
3362,-0216-01-01T00:00:00Z,9,Seleucus IV Philopator,"Ruler in Greece, 2nd century BC",NaN,NaN,NaN,NaN,NaN,NaN,-0174-01-01T00:00:00Z,9
3365,-0240-01-01T00:00:00Z,9,Antiochus III the Great,Seleucid ruler,Point(48.25 32.2),http://www.wikidata.org/entity/Q180773,Susa,Point(48.25 32.2),http://www.wikidata.org/entity/Q180773,Susa,-0186-01-01T00:00:00Z,9
3371,-0242-01-01T00:00:00Z,9,Seleucus III Ceraunus,ruler of the Seleucid Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,-0222-01-01T00:00:00Z,9
3373,-0264-01-01T00:00:00Z,9,Seleucus II Callinicus,ruler of the Seleucid Empire,NaN,NaN,NaN,NaN,NaN,NaN,-0224-01-01T00:00:00Z,9
4009,-1150-01-01T00:00:00Z,7,Ramesses IX,Egyptian pharaoh of the 20th dynasty,NaN,NaN,NaN,NaN,NaN,NaN,-1110-01-01T00:00:00Z,10
4026,-1150-01-01T00:00:00Z,7,Ramesses X,ninth ruler of the 20th dynasty of Ancient Egypt,NaN,NaN,NaN,NaN,NaN,NaN,-1097-01-01T00:00:00Z,9
...,...,...,...,...,...,...,...,...,...,...,...,...
64244957,-1450-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64244973,-1650-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64244989,-1450-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64245002,-1650-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64245027,-1550-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64615035,-0250-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64759804,-0050-01-01T00:00:00Z,7,NaN,NaN,Point(11.878055555 43.463055555),http://www.wikidata.org/entity/Q13378,Arezzo,Point(11.878055555 43.463055555),http://www.wikidata.org/entity/Q13378,Arezzo,NaN,NaN
64853920,-0100-01-01T00:00:00Z,7,Titus Valerius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65151550,-0150-01-01T00:00:00Z,7,Publius Rutilius Nudus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65553655,-0650-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940714,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940716,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65940721,-1500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65955924,-0350-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65956728,-0350-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65956732,-0400-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66712148,-0450-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66741830,-0550-01-01T00:00:00Z,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67155300,-0500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67816203,-0500-01-01T00:00:00Z,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68817614,-0050-01-01T00:00:00Z,7,Publius Plautius Rufus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69889774,-2550-01-01T00:00:00Z,7,Nefer,ancient Egyptian official of the Fourth dynasty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72744167,-0750-01-01T00:00:00Z,7,Te'el-hunu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74405189,-0100-01-01T00:00:00Z,7,Lucius Lollius Palicanus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0100-01-01T00:00:00Z,7
75159025,-0600-01-01T00:00:00Z,7,Lucius Geganius,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0500-01-01T00:00:00Z,7
75273763,-0200-01-01T00:00:00Z,7,Lucius Fulcinius,quaestor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75639509,-0050-01-01T00:00:00Z,7,Numerius Vibius Serenus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76247521,-0452-01-01T00:00:00Z,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0364-01-01T00:00:00Z,9
76847808,-0475-01-01T00:00:00Z,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79054412,-0091-01-01T00:00:00Z,9,Titiedius Servilius Casca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
names.loc[6198]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [6198] of <class 'int'>

In [3]:
def qids_by_daterange(begin, end):
    beginStr = """(?birthDate >= "{}-01-01"^^xsd:dateTime) && """.format(begin) if begin else ""
    endStr   = """(?birthDate <  "{}-01-01"^^xsd:dateTime)""".format(end)

    return dedent("""
        select ?person
        where {{
          ?person wdt:P31 wd:Q5;
                  wdt:P569 ?birthDate.
          hint:Prior hint:rangeSafe "true"^^xsd:boolean.
          FILTER({beginStr}{endStr})
        }}
    """).format(beginStr = beginStr, endStr = endStr)

In [4]:
# qid_query = qids_by_daterange(begin=None, end=1000)

In [5]:
def retrieve(query):
    url = 'https://query.wikidata.org/sparql'
    r = requests.post(url, data = {'format': 'json', 'query': query})
    json = r.json()
    return json
    
def index_by_ids(df, source_column='qid'):
    df['id'] = df[source_column].apply(lambda x: re.search('Q([0-9]+)$', x).group(1))
    return df.set_index('id')

def retrieve_to_pandas(query):
    json = retrieve(query)
    return index_by_ids(wd.to_pandas(json))

In [6]:
print(wd.query_item([42,1048],'birthplace'))

select ?qid ?birth_place ?birth_coords ?birth_place_name {

  VALUES ?qid {
      wd:Q42
      wd:Q1048
  }


                    ?qid wdt:P19  ?birth_place.
                    ?birth_place wdt:P625 ?birth_coords.
                    ?birth_place rdfs:label ?birth_place_name
                    FILTER (LANG(?birth_place_name) = "en").

}

In [8]:
retrieve_to_pandas(wd.query_item([42,1048],'birthplace'))

,birth_coords,birth_place,birth_place_name,qid
id,,,,
1048,Point(12.482777777 41.893055555),http://www.wikidata.org/entity/Q220,Rome,http://www.wikidata.org/entity/Q1048
42,Point(0.1225 52.208055555),http://www.wikidata.org/entity/Q350,Cambridge,http://www.wikidata.org/entity/Q42

In [9]:
def index_by_ids(df, source_column='person'):
    df['id'] = df[source_column].apply(lambda x: re.search('Q([0-9]+)$', x).group(1))
    return df.set_index('id')

In [163]:
qids = index_by_ids(wd.to_pandas(retrieve(qid_query)))

In [164]:
qids.head()

                                        person
id
45446    http://www.wikidata.org/entity/Q45446
122426  http://www.wikidata.org/entity/Q122426
139441  http://www.wikidata.org/entity/Q139441
161904  http://www.wikidata.org/entity/Q161904
189371  http://www.wikidata.org/entity/Q189371

In [192]:
def query_item(qids, item):
    idstr = "\n          ".join(["wd:Q{}".format(id) for id in qids])
    values_str = """
      VALUES ?qid {{
          {}
      }}
    """.format(idstr)

    queries = {
        'wikipedia': """
              ?article schema:about ?qid.
              ?article schema:isPartOf <https://en.wikipedia.org/>.
        """
    }

    query = dedent("""
    select ?qid ?{item} {{
        {values}
        {filter}
    }}
    """.format(item=item, values=values_str, filter=dedent(queries[item])))
    return query

In [193]:
print(query_item([1,2,3],"wikipedia"))

    select ?qid ?wikipedia {

      VALUES ?qid {
          wd:Q1
          wd:Q2
          wd:Q3
      }


?article schema:about ?qid.
?article schema:isPartOf <https://en.wikipedia.org/>.

    }

In [165]:
def wikidata_query(ids):
    idstr = "\n          ".join(["wd:Q{}".format(id) for id in ids])
    query = """
    select ?person ?article {{
      VALUES ?person {{
          {}
      }}
      ?article schema:about ?person.
      ?article schema:isPartOf <https://en.wikipedia.org/>.
    }}
    """.format(idstr)
    return query

#         OPTIONAL {{
#            ?article schema:about ?person ;
#               schema:inLanguage ?wikilang ;
#               schema:isPartOf [ wikibase:wikiGroup "wikipedia" ] . 
#           FILTER(?wikilang in ('en'))
#         }}

In [166]:
# ids = [x[0] for x in query_db("select id from people limit 10000")[0]]
qids.index

Index(['45446', '122426', '139441', '161904', '189371', '198180', '204235',
       '204252', '209397', '219917',
       ...
       '17747957', '20101277', '22812651', '27062976', '27825630', '30947356',
       '31190183', '45366239', '48925204', '54877712'],
      dtype='object', name='id', length=32607)

In [167]:
query = wikidata_query(qids.index)

In [169]:
url = 'https://query.wikidata.org/sparql'
r = requests.post(url, data = {'format': 'json', 'query': query})
r

In [170]:
wikipedia_urls = index_by_ids(wd.to_pandas(r.json()))

In [175]:
(qids.shape, wikipedia_urls.shape)

((32607, 1), (17537, 2))